.questions {
	display: grid;
	justify-items: center;
}

.form {
	display: grid;
}

.industry {
	color: red;
}

.thanks {
	color: green;
}

.questions-button {
	display: flex;
	justify-self: center;
	background-color: white;
	border: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	margin-top: 2rem;
	padding: 1rem 3rem 1rem 3rem;
}

.questions-button:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.questions-button:active {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
